.articles {
	list-style: none;
}
.article-block {
	padding: 30px;
}
.article-image {
	float:right;
	padding: 10px;
}
.block-container {
	padding: 15px;
}
.list {
	background: #D4D8D1;
	background-size: cover;
}
.login {
	background: #577492;
	height: 100%;	
}
.logout{
	margin-left: 155px;
}
span.strong {
	font-weight: bold;
}