<div class="list">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<div class="singleItemBlock">
					<form novalidate class="simple-form" enctype="multipart/x-www-form-urlencoded">
					  Name: 
						<input id="name" type="text" value="{{articulo.name}}" ng-model="articulo.name">
					  </br>
					  Author: 
						<input type="text" value="{{articulo.author}}" ng-model="articulo.author">
					  </br>
					  Description: <br /><textarea id="description" type="text" ng-model="articulo.description" cols="40" rows="5"></textarea>      
					  <br />
					  Borrowed to: <input type="text" value="{{articulo.borrowed}}" ng-model="articulo.borrowed">
					  </br>
					  <a class="btn btn-warning" ng-model="articulo._id" ng-click="updateItem(articulo._id)" ng-href="#/articles-list">Update</a>
					  <a class="btn btn-danger" ng-model="articulo._id" ng-click="deleteItem(articulo._id)" ng-href="#/articles-list">Delete</a>
					</form>
					<a ng-href="#/articles-list"><<-Back</a>
				</div>   
		    </div>
		    <div class="col-md-4"></div>	  
		</div>
	</div>
</div>