<div class="list">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">
				<a ng-click="getBack()" class="logout">Log Out</a>
				<div class="singleItemBlock">
					<form novalidate class="simple-form" enctype="multipart/x-www-form-urlencoded">
					  Name: <input id="name" type="text" ng-model="article.name" /><br />
					  Author: <input type="text" ng-model="article.author" /><br />
					  Description: <br /><textarea id="description" type="text" ng-model="article.description" cols="40" rows="5"></textarea>
					  <br /><br />				  
					  <a class="btn btn-primary" ng-click="saveItem(article)" ng-href="#/articles-list">Save</a>
					</form>
				</div>
				<div class="block-container">
				  <input ng-model="query" placeholder="Search article list..." class="block-container--search">
			      <span class="strong">Sort by: </span>
			      <select ng-model="orderProp">
			        <option value="author">Author</option>
			        <option value="name">Title</option>
			      </select>
			      <div class="listButtons">
				  	  <button ng-click="displayList()" ng-disabled="{{isDisabled}}" class="btn btn-primary">Show list</button>
				  	  <button ng-click="displayBorrowedList()" class="btn btn-primary">Show borrowed items</button>
				  </div>
			    </div>
		      <ul class="articles">		      	
		        <li class="article" ng-show="showList" ng-repeat="article in articles | filter:query | orderBy:orderProp">
		        	<a class="article" ng-model="article.id" ng-href="#/article/{{article._id}}" ng-click="checkItem(article._id)">
				        <div class="article-block">
				          <span class="strong">Title: </span>{{article.name}}</br>
				          <span class="strong">Author: </span>{{article.author}}</br>
				          <span class="strong">Description: </span>{{article.description}}</br>
				          <span class="strong">Borrowed: </span>{{article.borrowed}}
		   		        </div>
	   		        </a>
		        </li>		        
		      </ul>
		      <ul class="articles">		      	
		        <li class="article" ng-show="showBorrowedList" ng-repeat="article in borrow | filter:query | orderBy:orderProp">
		        	<a class="article" ng-model="article.id" ng-href="#/article/{{article._id}}" ng-click="checkItem(article._id)">
				        <div class="article-block">
				          <span class="strong">Title: </span>{{article.name}}</br>
				          <span class="strong">Borrowed: </span>{{article.borrowed}}
		   		        </div>
	   		        </a>
		        </li>		        
		      </ul>		      
		    </div>
		    <div class="col-md-4"></div>	  
		</div>
	</div>
</div>