<div class="list">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<div class="block-container">
				  <span class="strong">Search: </span><input ng-model="query">
			      <span class="strong">Sort by: </span>
			      <select ng-model="orderProp">
			        <option value="author">Author</option>
			        <option value="id">Article Id</option>
			      </select>
			    </div> 
		      <ul class="articles">
		        <li ng-repeat="article in articles | filter:query | orderBy:orderProp" class="articles-list">
		          <span class="strong">Title: </span>{{article.title}}</br>
		          <span class="strong">Author: </span>{{article.author}}</br>
		          <span class="strong">Description: </span>{{article.body}}</br>
		        </li>
		      </ul>
				<button ng-click="getBack()">Log Out</a>		      
		    </div>	  
		</div>
	</div>
</div>