<div class="list">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-8">

		        <div class="article-block">
		        	<div class="article-image"><img src={{articulo.imageUrl}} /></div>
		          <span class="strong">Title: </span>{{articulo.title}}</br>
		          <span class="strong">Author: </span>{{articulo.author}}</br>
		          <span class="strong">Description: </span>{{articulo.body}}
   		        </div>

   
		    </div>
		    <div class="col-md-4"></div>	  
		</div>
	</div>
</div>