<div class="login">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="block-container--login">
					<h3>LOGIN</h3>
			        <input type="text" ng-model="username" placeholder="username"><br/>
			        <br/><input type="password" ng-model="password" placeholder="username"><br/>
			        <br/><button type="submit" ng-click="authenticate(username, password)" class="btn btn-primary">Log In</button>
			    </div>
	        </div>
			<div class="col-md-4"></div>		
	    </div>    
	</div>
</div>	