
      

<form novalidate class="simple-form" enctype="multipart/x-www-form-urlencoded">
      <span class="strong">Name: </span>
		<input type="text" value="{{articulo.name}}" ng-model="articulo.name">
      </br>
      <span class="strong">Description: </span>
		<input type="text" value="{{articulo.description}}" ng-model="articulo.description">
      </br>
      <span class="strong">Image: </span>
      	<input type="text" value="{{articulo.imageUrl}}" ng-model="articulo.imageUrl">      
      <br />
      <a ng-model="articulo._id" ng-click="updateItem(articulo._id)">Update</a><br />
      <a ng-model="articulo._id" ng-click="deleteItem(articulo._id)" ng-href="#/test">Delete</a>
</form>